body
{
    background-image: url('backGrnd.jpg');
}

div
{
    background-color: rgba(88, 91, 92, 70%);
    margin-left: auto;
    margin-right: auto;
    margin-top: 180px;
    margin-bottom: auto;
    width: 250px;
    height: 300px;
    padding-top: 10px;
    border-radius: 20px;
}

h2
{
    text-align: center;
    color: #000000;
    margin-top: 10px;
    margin-bottom: auto;
}

fieldset
{
    display: inline;
    border: none;
    margin-top: 15px;
    margin-left: 20px;
    margin-right: none;
}

label
{
    font-size: 20px;
    color: #000000;
    /*display: inline;*/
    display: block;
    margin: 0.5rem 0;
}
 
input
{
    background-color: rgb(192, 192, 192);
    border: rgb(192, 192, 192) solid;
    border-radius: 17px;
}

button
{
    background-color: rgb(192, 192, 192);
    color: black;
    border: rgb(192, 192, 192) solid;
    margin-top: 20px;
    margin-left: 57px;
    height: 40px;
    width: 70px;
    font-size: 18px;
    border-radius: 15px;
}

h1
{
    color: rgba(255, 255, 255, 0.5);
    font-size: 50px;
    margin-bottom: 2px;
    margin-left: 50px;
}

p
{
    color: rgba(255, 255, 255, 0.8);
    font-size: 30px;
    margin-top: -1px;
    margin-left: 50px;
}

.new
{
    font-size: 20px;
    color: #000000;
    display: block;
    margin: 0.5rem 0;
    font-size: 15px;
    padding-top: 4px;
}

.newInpt
{
    vertical-align: middle;
    background-color: rgba(255, 255, 255, 0.5);
    border: rgba(255, 255, 255, 0.5) solid;
    border-radius: 17px;
}

footer
{
    padding-top: 150px;
    /*padding-bottom: 10px;*/
}

.p1
{
    font-size: 15px;
    margin-bottom: -10px;
    text-align: right;
}

.p2
{
    font-size: 15px;
    margin-bottom: -10px;
    text-align: right;
}

a
{
    color: white;
}

sup
{
    font-size: 7px;
}