body
{
    background-image: url('backGrnd.jpg');
    padding-top: 300px;;
}

div
{
    background-color: #585b5c;
    margin-left: auto;
    margin-right: auto;
    margin-top: auto;
    margin-bottom: auto;
    width: 250px;
    height: 190px;
    padding-top: 10px;
    border-radius: 20px;;
}

h3
{
    text-align: center;
    color: #000000;
    margin-top: auto;
    margin-bottom: auto;
}

fieldset
{
    display: inline;
    border: none;
    margin-left: 25px;
    margin-right: none;
}

label
{
    font-size: 20px;
    color: #000000;
    display: inline;
    display: block;
    margin: 0.5rem 0;
}
 
input
{
    background-color: #ffffff;
    border: #ffffff solid;
    border-radius: 17px;
}